body {
    background-color:burlywood;
}

.game-container, .message-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

#points, .games-won {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    margin-top: 3rem;
}

.fadeIn {
    animation: fade 4s;
}

@keyframes fade {
   10% {
       opacity: 0.1;
   }     
   20% {
       opacity: 0.2;
   }
   50% {
       opacity: 0.5;
   }
   100% {
       opacity: 1;
   }
}

.reset-button {
  margin: 20px;
  background-color: blanchedalmond;;
  border: 0 solid #E5E7EB;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: .75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 100%;
  max-width: 460px;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.reset-button:focus {
  outline: 0;
}

.reset-button:after {
  content: '';
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.reset-button:hover:after {
  bottom: 2px;
  left: 2px;
}

@media (min-width: 768px) {
  .reset-button {
    padding: .75rem 3rem;
    font-size: 1.25rem;
  }
}

.keyboard-container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    width: 530px;
}


.keyboard-container > button:nth-child(20),
.keyboard-container > button:nth-child(28) {
    width: 75px;
}

.keyboard-container > button:nth-child(11) {
    margin-left: 2rem;
}

button:nth-child(odd) {
  background: gainsboro;
}

.keyboard-container > button {
  width: 43px;
  height: 58px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin: 4px;
  font-size: 1.2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

.board-container > div {
    display: flex;
}

.board-container .tile {
    block-size: border-box;
    height: 60px;
    width: 60px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    margin: 3px;
    justify-content: center;
}

.tile {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
}

.hidden {
    display: none;
}

.message-container > div {
    background-color:blanchedalmond;
    font-weight: 900;
    margin: 10px;
    padding: 4px;
    border-radius: 5px;
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.green-word {
    background-color: #538d4e !important;
}

.yellow-word {
    background-color: yellow !important;
}

.gray-word {
    background-color: gray !important;
}

.bounce {
    animation: bounce 1s alternate;
    -webkit-animation: bounce 1s alternate;
  }
  
  @-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -webkit-transform: translateY(0); }
    40% {
      -webkit-transform: translateY(-30px); }
    60% {
      -webkit-transform: translateY(-15px); } }
  @-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -moz-transform: translateY(0); }
    40% {
      -moz-transform: translateY(-30px); }
    60% {
      -moz-transform: translateY(-15px); } }
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0); }
    40% {
      -webkit-transform: translateY(-30px);
      -moz-transform: translateY(-30px);
      -ms-transform: translateY(-30px);
      -o-transform: translateY(-30px);
      transform: translateY(-30px); }
    60% {
      -webkit-transform: translateY(-15px);
      -moz-transform: translateY(-15px);
      -ms-transform: translateY(-15px);
      -o-transform: translateY(-15px);
      transform: translateY(-15px); } }